body{
    background-image: url("pexels-karolina-grabowska-4038844.jpg");
    background-size: cover;
    background-position: center;
    height:100vh ;
}
.main-1{
    text-align: center;
    margin-top: 70px;
    background: rgba(255,255,255,0.3);

}

.main-2{
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
}
h1{
    font-size: 70px;
}
p{
    font-size: 30px;
}
form{padding: 30px;
    display: flex;
 
}
.input-1{
    padding: 10px;
    width: 80%;
    border-radius:40px ;
    border: black;
}
.enter-button{
    border-radius:40px ;
    margin-left: 10px;
    border: black;
    padding:10px ;
}